# Dependencies
node_modules/
*/node_modules/

# Environment variables
.env
.env.local
.env.*.local

# Production build outputs
dist/
build/
client/dist/

# Uploads cache & Persistent Database
server/uploads/*
!server/uploads/.gitkeep
server/data/
server/test_crash_dir/


# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
